name: Release rbchunk

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup toolchain install 1.77.1 --profile minimal --no-self-update
        rustup default 1.77.1
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Crate Publish
      uses: katyo/publish-crates@v2
      with:
        registry-token: ${{ secrets.CRATE_TOKEN }}
    - name: Create Github Release
      uses: softprops/action-gh-release@v1
      with:
        generate_release_notes: true
